.card {
  background: silver;
  width: 160px;
  height: 160px;
  display: grid;
  place-items: center;
}

.card:hover {
  background: mediumseagreen;
  cursor: pointer;
}

.icon {
  font-size: 6rem;
}
